
<div id="ideaWithCommentsBlock" style="display: block;" ng-controller="commentsController">
    <div class="overlay"></div>
    <div class="container">
        <div class="ideaCommentsContainer">
            <div class="commentIdeaAvatar">
                <div class="bigAvatar">
                    <img ng-src="{{ideaWithComment.author.photo}}">
                </div>
            </div>
            <a href="#/" class="closePopup"></a>
            <div class="ideaContainerWrapper">
                <p class="ideaContent">
                    {{ideaWithComment.ideaText}}
                </p>
                <p ng-show="global.currentUser.role == 'admin'">
                    <input type="checkbox" ng-model="createTechTalk" /> Create techtalk
                    <form ng-show="createTechTalk" ng-submit="submitTechTalk(ideaWithComment.ideaIndex)">
                        <input type="date" ng-model="date" name="datetime"/> Date of techtalk
                        <input type="text" ng-model="location" name="place"> location
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </p>
                <div class="socialBlock clearfix">
                    <span class="likePic voted" ng-click="toggleLike($event)">{{ideaWithComment.likes.length}}</span>
                </div>
                <div class="commentsBlock">
                    <div class="comment" ng-repeat="comment in ideaWithComment.comments" ng-click="removeComment($index)">
                        <div class="smallAvatar">
                            <img ng-src="{{comment.author.photo}}">
                        </div>
                        <div class="author">
                            {{comment.author.name}}
                        </div>
                        <div class="commentContent">
                            {{comment.commentText}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="addCommentBlock">
                <form ng-submit="addComment()">
                    <div class="addCommentInput">
                        <input type="text" ng-model="commentText" placeholder="Комментарий" ng-disabled="!global.isAuthN">
                        <button type="submit" value="" class="commentSubmitButton"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>