<!doctype html>
<html lang="en" data-ng-app="tp" data-ng-controller="AppCtrl">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title data-ng-bind="global.pageTitle">TechTalk portal</title>
  <link rel="stylesheet" type="text/css" href="/css1/reset.css"/>
  <link rel="stylesheet" type="text/css" href="/css1/style.css"/>
  <script src="/js/pace.js"></script>
  <!-- we probably need more control here -->
  <base href="/portal"></base>
</head>
<body>
  <!-- Begin page content -->
  <div ng-controller="mainController">
      <div class="container">
          <div class="clearfix">
              <div class="authorizationBlock">
                  <form class="form-inline pull-right" role="form"
                        data-ng-if="!global.isAuthN && !authInProgress"
                        data-ng-submit="signin();">
                      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email"
                             required
                             data-ng-model="auth.login">
                      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"
                             required
                             data-ng-model="auth.password"/>
                      <button type="submit" class="btn btn-default"
                              data-ng-disabled="loginForm.$invalid"></button>
                  </form>
                  <span class="waitingText" data-ng-if="authInProgress">Please wait...</span>
                  <span class="waitingText">{{errorWithCredentials}}</span>
                  <div data-ng-if="global.isAuthN">
                      <div class="smallAvatar">
                          <img data-ng-src="{{global.currentUser.photo}}">
                      </div>
                      <div class="personInfo">
                          <div class="personName" data-ng-bind="global.currentUser.name"></div>
                          <a href="" class="btn btn-danger" class="personName" data-ng-click="logout();">Log out</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="nearestTalkWrapper">
              <div class="nearestTalk">
                  <div class="whereInfo">{{tt.lector}}</div>
                  <div class="whereInfo">{{tt.date}} - {{tt.location}}</div>
                  <div class="talkTitle">
                      <div class="bigAvatar">
                          <img src="/img/user/{{tt.photo}}.gif">
                      </div>
                      <div>{{tt.description}}</div>
                  </div>
                  <div class="nearestTalkComments">
                      <a href="/portal/api/ideas/{{mainIdea._id}}"><span class="yellowComment"></span> 10 Комментариев</a>
                  </div>
              </div>
          </div>
          <div class="clearfix allIdeasContainer">
              <div id="addIdea" rel="addIdeaContainer" class="openPopup">
                  <div class="pencilPic"></div>
                  <div class="addButtonText">I have a great idea!</div>
              </div>
              <a ng-repeat="idea in ideasList" href="#/api/ideas/{{idea._id}}" class="ideaBlock">
                  <div class="ideaWrap">
                      <div class="contentWrap">
                          <div class="contentIdea">
                              <span>{{idea.$id}}</span> <span>{{idea.ideaText}}</span>
                          </div>
                          <div class="socialBlock">
                              <span class="likePic" ng-click="toggleLike($event, $index)">{{idea.likes.length}}</span>
                              <span class="commentPic">{{idea.comments.length}}</span>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
      </div>

      <div id="addIdeaContainer">
          <div class="overlay"></div>
          <div class="popupContainerWrapper">
              <div class="popupContainer container">
                  <form ng-submit="addIdea()">
                      <div class="closePopup" rel="addIdeaContainer" ng-click="clearIdea()"></div>
                      <textarea name="" ng-model="ideaText" class="addNewIdeaText" autofocus ></textarea>
                      <input type="submit" class="submitIdeaButton" value="Поделиться&#10;идеей!" rel="addIdeaContainer">
                  </form>
              </div>
          </div>
      </div>

      <div id="authorizationBlock">
          <div class="popupContainerWrapper">
              <div class="popupContainer container">
                  <form class="form-inline pull-right" role="form"
                        data-ng-if="!global.isAuthN && !authInProgress"
                        data-ng-submit="signin();">
                      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email"
                             required
                             data-ng-model="auth.login">
                      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"
                             required
                             data-ng-model="auth.password"/>
                      <button type="submit" class="btn btn-default"
                              data-ng-disabled="loginForm.$invalid"></button>
                  </form>
              </div>
          </div>
      </div>

      <div ng-view></div>
  </div>

  <!-- build:js(public) /js/app.min.js -->
  <script src="/js/core.js"></script>
  <script src="/js/clamp.min.js"></script>
  <script src="/js/app1.js"></script>
  <script src="/js/services/helper.js"></script>
  <script src="/js/services/auth-service.js"></script>
  <script src="/js/services/data-provider.js"></script>
  <script src="/js/services/ideas.js"></script>
  <script src="/js/controllers/idea-controller.js"></script>
  <script src="/js/script.js"></script>
  <!-- endbuild -->
</body>
</html>
